/* =========================================================
   LES RECETTES DU ROY — Thème personnalisé
   ========================================================= */


/* ---------------------------------------------------------
   1. Variables du site
   --------------------------------------------------------- */

$fond_pale: #f5f0e1;
$bar_haut: #1e3d59;
$mon_orange: #ff6e40;
$mon_jaune: #ffc13b;


/* ---------------------------------------------------------
   2. Variables Bootstrap / Quarto
   --------------------------------------------------------- */

/*-- scss:defaults --*/

$body-bg: $fond_pale;


/* ---------------------------------------------------------
   3. Styles personnalisés
   --------------------------------------------------------- */

/*-- scss:rules --*/

/* ---------- Général ---------- */

body {
  background-color: $fond_pale;
}


/* ---------- Navbar ---------- */

.navbar-brand {
  
  img {
    max-height: 40px !important;
  }
}